{% extends "layout.html" %}
{% block body %}
			<!-- start banner Area -->
			<section class="about-banner">
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								{{ petname }}
							</h1>	
							<p class="text-white link-nav">About {{ petname }}</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Introduction -->

			<div class="whole-wrap">
				<div class="container">
					<div class="section-top-border">
						<div class="row">
							<div class="col-md-3">
								<h3 class="mb-30">About {{ petname }}</h3>
							</div>
						</div>
						<div class = "row">
							<div class="col-md-3">
								<img src="static/img/animals/profile_pictures/piccolo.jpg" alt="" class="img-fluid">
							</div>
							<div class="col-md-3 mt-sm-20 left-align-p">
								<div class="">
									<ul class="unordered-list">
										<li><b>Name:</b> {{ fullname }}</li>
										<li><b>Birthday:</b> {{ birthday }}</li>
										<li><b>Weight:</b> {{ weight }}</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 mt-sm-20 right-align-p">
								<blockquote class="generic-blockquote">
									{{ info }}
								</blockquote>
							</div>
						</div>
					</div>

			<!-- Images  -->
					<div class="section-top-border">
						<h3>Images</h3>
						<div class="row gallery-item">
							{% for photo in photoset1 %}
							<div class="col-md-4">
								<a href="static/img/animals/ad_pictures/{{photo}}" class="img-gal"><div class="single-gallery-image" style="background: url({{ url_for('static', filename=photo)}} )"></div></a>
							</div>
							{% endfor %}
							{% for photo in photoset2 %}
							<div class="col-md-6">
								<a href="static/img/animals/ad_pictures/{{photo}}" class="img-gal"><div class="single-gallery-image" style="background: url({{ url_for('static', filename=photo)}}) "></div></a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
	</html>
{% endblock body %}

